name: Deploy to Amazon EC2

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: Deploy
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: dev

    - name: Create backend .env file
      run: |
        cat <<EOF > backend/.env
        NODE_ENV=production
        PORT=8000
        EOF

    - name: Create frontend .env file
      run: |
        cat <<EOF > frontend/.env
        REACT_APP_API_URL=${{ secrets.FRONTEND_API_URL }}
        NODE_ENV=production
        EOF

    - name: Build Docker Images
      run: docker compose build

    - name: Stop Existing Containers
      run: docker compose down

    - name: Start Containers
      run: docker compose up -d
