name: Deploy to Amazon EC2

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  deploy:
    name: 3t
    runs-on: self-hosted   # EC2 runner (not github hosted)

    steps:
    # 1️⃣ Checkout Code
    - name: Checkout code
      uses: actions/checkout@v4
      with:
          ref: ${{ github.ref_name }}


    # 2️⃣ Create Backend .env file
    - name: Create backend .env file
      run: |
        cat <<EOF > backend/.env
        # Backend Environment Variables
        DJANGO_ENV=production
        DEBUG=False
        SECRET_KEY=${{ secrets.BACKEND_SECRET_KEY }}
        DATABASE_URL=${{ secrets.DATABASE_URL }}
        ALLOWED_HOSTS=*
        EOF

    # 3️⃣ Create Frontend .env file
    - name: Create frontend .env file
      run: |
        cat <<EOF > frontend/.env
        # Frontend Environment Variables
        REACT_APP_API_URL=${{ secrets.REACT_APP_API_URL }}
        NODE_ENV=production
        EOF

    # 4️⃣ Build Docker Images
    - name: Build Docker Images
      run: docker compose build

    # 5️⃣ Stop existing containers
    - name: Stop existing containers
      run: docker compose down

    # 6️⃣ Start containers
    - name: Start containers
      run: docker compose up -d
